---
---

<footer class="footer footer-center grid-flow-row p-8 gap-8 text-base-content">
  <div>
    <a
      class="link link-hover inline-flex items-center"
      rel="license"
      href="https://creativecommons.org/licenses/by-sa/4.0/"
    >
      <span class="i-cib-creative-commons inline-block w-5 h-5 mr-0.5"></span>
      <span class="i-cib-creative-commons-by inline-block w-5 h-5 mr-0.5"></span>
      <span class="i-cib-creative-commons-sa inline-block w-5 h-5 mr-2"></span>
      CC BY-SA 4.0
    </a>
  </div>
  <div>
    <div class="grid grid-flow-col gap-4">
      <a
        href="/rss.xml"
        target="_blank"
        class="btn btn-ghost btn-sm btn-square p-0"
        title="RSS/Feed"><span class="i-simple-icons-rss w-5 h-5"></span></a
      >
      <a
        href="https://github.com/EHfive/eh5.me"
        class="btn btn-ghost btn-sm btn-square p-0"
        title="Website source on GitHub"
        ><span class="i-simple-icons-github w-5 h-5"></span></a
      >
    </div>
  </div>
  <div>
    <div>
      <a
        class="link link-hover text-xs opacity-60"
        href="https://beian.miit.gov.cn/"
        target="_blank">浙ICP备17005219号-2</a
      >
    </div>
  </div>
</footer>
